lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
bower_components
fielddb-glosser.js
fielddb-glosser.min.js
samples/vanilla/fielddb-glosser.js
fielddb-glosser.js
